/* Images created by: https://unsplash.com/@pawel_czerwinski */

@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(10px);
  min-height: 100vh;
  background: #c9ced3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Readex Pro, sans-serif;
  font-size: 12px;
}

.player-container {
  object-fit: contain;
  height: 500px;
  width: 400px;
  background: #e7e7e7ab;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.img-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
  border-radius: 20px;
}

.img-container {
  width: 300px;
  height: 300px;
  position: relative;
  top: -50px;
  left: 50px;
}


h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}

/* Progress */
.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 40px 20px;
  height: 4px;
  width: 90%;
}

.progress {
  background: #242323;
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.duration-wrapper {
  position: relative;
  top: -25px;
  display: flex;
  justify-content: space-between;
}

/* Controls */
.player-controls {
  position: relative;
  top: -15px;
  left: 120px;
  width: 200px; 
  /* display: flex;
  align-items: center;
  justify-content: center;
  top: -20px;
  position: relative; */
}

.controls {
  user-select: none ;  
  cursor: pointer;
  font-size: 30px;
  color: rgb(85, 85, 85);
  margin-right: 20px; 
}

.controls:hover {
  filter: brightness(.5);
}

.main-button {
  font-size: 40px;
  position: relative;
  top: 3px;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .player-container {
    width: 95vw;
  }

  .img-container {
    left: 29px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 15px;
  }

  .player-controls {
    top: -10px;
    left: 100px;
  }
}

